.title{
  color: red;
  font-size: 32px;
  text-align: center;
}
.unitBox{
  padding: 10px;
  margin: 10px;
  border: 1px dashed #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.h2{
  font-size: 14px;
  color: blueviolet;
}